# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/core/.mvn/
/elastisearch/mvnw
/elastisearch/mvnw.cmd
/core/mvnw
/core/mvnw.cmd
/elastisearch/.mvn/
/freemarker/.mvn/
/freemarker/mvnw
/freemarker/mvnw.cmd
/jpa/.mvn/
/jpa/mvnw
/jpa/mvnw.cmd
/logger/.mvn/
/logger/mvnw
/logger/mvnw.cmd
/mongodb/.mvn/
/mongodb/mvnw
/mongodb/mvnw.cmd
/mybatis/.mvn/
/mybatis/mvnw
/mybatis/mvnw.cmd
/mysqldb/.mvn/
/mysqldb/mvnw
/mysqldb/mvnw.cmd
/rabbitmq/.mvn/
/rabbitmq/mvnw
/rabbitmq/mvnw.cmd
/redis/.mvn/
/redis/mvnw
/redis/mvnw.cmd
/security/.mvn/
/security/mvnw
/security/mvnw.cmd
/swagger/.mvn/
/swagger/mvnw
/swagger/mvnw.cmd
/thymeleaf/.mvn/
/thymeleaf/mvnw
/thymeleaf/mvnw.cmd
